build/
bin/
lib/
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib
*.cmake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
_CPack_Packages/
.DS_Store
Thumbs.db
ehthumbs.db
.clang-format
compile_commands.json
*.bl
.cache/
